

/*JIA 2009,4month-5month*/
/*系统主界面主要的样式----------------------------------------------------------------*/
#pagebody {
	width:1000px;
	margin:0 auto; }
 
/*切换样式----------------------------------------------------------------*/
.switch { float:left; }
 
.navPoint { color:#023E66; }
 
/*主页面主体右侧样式------------------------------------------------------*/
.mainbody {
	float:left;
	width:82.4%; }
 
#mainBodyContainer { height:521px; }