 
 
/*JIA 2009,6month*/
/*------------------------------------------------------------------ 
[Navigation] 
1 navigation / #navigation 
2 tree / .tree
——————————————————————-*/
/*主界面顶部导航样式----------------------------------------------------------------*/
#navigation {
	display:block;
	width:1000px;
	height:26px;
	margin:0 auto;
	background:url(../../image/cssimg/navigation_back.gif);
	overflow:hidden;
	line-height:26px;
	text-align:center; }
 
	#navigation h1 {
		float:left;
		width:173px;
		height:26px;
		margin-left:3px;
		background:url(../../image/cssimg/welcome.gif) no-repeat;
		font-size:12px;
		color:#C7EAF7;
		filter:glow(Color=red, Strength=1); }
 
 