/* Bubble pop-up */
.popup {
	position: absolute;
	z-index: 1000;
	border-collapse: collapse;
}

.popup td.corner {
	height: 13px;
	width: 5px;
}

.popup td#topleft {
	background-image: url(../image/bubble01/bubble-1.gif);
}

.popup td.top {
	height: 25px;
	background-image: url(../image/bubble01/bubble-2.gif);
	color: white;
	font-weight: bold;
	vertical-align: middle;
	speak-header: once;
	speak-numeral: continuous;
	speak-punctuation: none;
	speech-rate: slower;
	richness: 100;
}

.popup td#topright {
	background-image: url(../image/bubble01/bubble-3.gif);
}

.popup td.left {
	background-image: url(../image/bubble01/bubble-4.gif);
}

.popup td.right {
	background-image: url(../image/bubble01/bubble-5.gif);
}

.popup td#bottomleft {
	background-image: url(../image/bubble01/bubble-6.gif);
}

.popup td#title {
	background-image: url(../image/bubble01/toptitle.gif);
}

.popup td.bottom {
	background-image: url(../image/bubble01/bubble-7.gif);
	text-align: center;
}

.popup td.bottom img {
	display: block;
	margin: 0 auto;
}

.popup td#bottomright {
	background-image: url(../image/bubble01/bubble-8.gif);
}

.popup table.popup-contents {
	font-size: 12px;
	line-height: 1.2em;
	background-color: #C4E9FF;
	color: #666;
	font-family: "����", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

table.popup-contents th {
	text-align: right;
	text-transform: lowercase;
}

table.popup-contents td {
	text-align: left;
}