.border1 {
	border-top: none;
	border-right: 1px solid #0977DB;
	border-bottom: none;
	border-left: none;
	background-color: #EFF7FF;
}
.sub {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #333333 1px solid; WIDTH: auto; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #333333 1px solid; HEIGHT: 20px
}
.text {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 3px;
	WIDTH: 150px;
	HEIGHT: 16px;
	border: 1px solid #A9A9AB;
}
.text_nowidth {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 2px;
	FONT-SIZE: 9pt;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 3px;
	HEIGHT: 16px;
	border: 1px solid #A9A9AB;
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
SPAN {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
.Generaltable{
	background:#ffffff;
	border-top: 1 solid #0977DB;
	border-right: 0 solid #0977DB;
	border-bottom: 0 solid #0977DB;
	border-left: 1 solid #0977DB;
	border-collapse:collapse;
}
.Generaltd{
	border-top: 0 solid #0977DB;
	border-right: 1 solid #0977DB;
	border-bottom: 1 solid #0977DB;
	border-left: 0 solid #0977DB;
	line-height: 16px;
	color: #1A5FA7;
	border-collapse : separate;
	empty-cells:show;
}
A:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.white:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:active {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.white:hover {
	FONT-SIZE: 12px; COLOR: #ffff00; TEXT-DECORATION: none
}
.white3:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.white3:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.white3:hover {
	BORDER-RIGHT: #afe1f2 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #afe1f2 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: -18px; BORDER-LEFT: #afe1f2 1px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #afe1f2 1px solid; BACKGROUND-COLOR: #4c9ad0; TEXT-DECORATION: none
}
.white3 {
	FONT-SIZE: 12px;
	COLOR: #fffff;
	LINE-HEIGHT: 150%;
	TEXT-DECORATION: none;
	font-weight: normal;
}
.signinout {
	FONT-SIZE: 12px;
	COLOR: #DCEDFA;
	LINE-HEIGHT: 130%;
	TEXT-DECORATION: none;
	border: 1px solid ##afe1f2;
	background-color: #3375BD;
	font-weight: normal;
}
.signinout:hover {
	FONT-SIZE: 12px; COLOR: #b7d7ff; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
.signinout:link {
	FONT-SIZE: 12px; COLOR: #b7d7ff; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.signinout:visited {
	FONT-SIZE: 12px; COLOR: #b7d7ff; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.signinoutline:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #b7d7ff; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.signinoutline:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #b7d7ff; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.signinoutline:hover {
	BORDER-RIGHT: #afe1f2 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #afe1f2 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: -10px; BORDER-LEFT: #afe1f2 1px solid; COLOR: #ffffff; LINE-HEIGHT: 180%; PADDING-TOP: 1px; BORDER-BOTTOM: #afe1f2 1px solid; BACKGROUND-COLOR: #3087c5; TEXT-DECORATION: none
}
.signinoutline {
	FONT-SIZE: 12px; COLOR: #b7d7ff; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.zong:link {
	FONT-SIZE: 12px; COLOR: #965008; TEXT-DECORATION: none
}
A.zong:active {
	FONT-SIZE: 12px; COLOR: #965008; TEXT-DECORATION: none
}
A.zong:visited {
	FONT-SIZE: 12px; COLOR: #965008; TEXT-DECORATION: none
}
A.zong:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.blue:link {
	FONT-SIZE: 12px; COLOR: #183390; TEXT-DECORATION: none
}
A.blue:active {
	FONT-SIZE: 12px; COLOR: #183390; TEXT-DECORATION: none
}
A.blue:visited {
	FONT-SIZE: 12px; COLOR: #183390; TEXT-DECORATION: none
}
A.blue:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.title {
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
}
.sepline {
	color: #183390;
}
.title2 {
	font-size: 12px;
	line-height: 12px;
	color: #183390;
}
.text3 {
	font-size: 12px;
	line-height: 16px;
	color: #1A5FA7;
}
.td3 {
	border-right-width: 1px;
	border-top-color: #1E75C5;
	border-right-color: #1E75C5;
	border-bottom-color: #1E75C5;
	border-left-color: #1E75C5;
}
.td3 {
	border: 1px solid #c2c2c2;
}
.red {
	font-size: 12px;
	line-height: 16px;
	color: #FF0000;
}
.green {
	font-size: 12px;
	line-height: 16px;
	color: #009900;
}
.yellow {
	font-size: 12px;
	line-height: 16px;
	color: #FFCC33;
}
.orange {
	font-size: 12px;
	line-height: 12px;
	color: #FF6633;
}
.black {
	font-size: 12px;
	color: #272728;
}
.tdyellow {
	border-top: 0 solid #0977DB;
	border-right: 1 solid #0977DB;
	border-bottom: 1 solid #0977DB;
	border-left: 0 solid #0977DB;
	line-height: 16px;
	color: #1A5FA7;
	background-color: #FFFFCC;
}
.tdorange {
	border-top: 0 solid #0977DB;
	border-right: 1 solid #0977DB;
	border-bottom: 1 solid #0977DB;
	border-left: 0 solid #0977DB;
	line-height: 16px;
	color: #1A5FA7;
	background-color: #FFCC99;
}
.tdred {

	border-top: 0 solid #0977DB;
	border-right: 1 solid #0977DB;
	border-bottom: 1 solid #0977DB;
	border-left: 0 solid #0977DB;
	line-height: 16px;
	color: #1A5FA7;
	background-color: #FF9999;
}
#zoom a img{-moz-opacity:0.5; filter:alpha(opacity=50);border:0px;}
#zoom a:hover img{-moz-opacity:0.5; filter:alpha(opacity=100);cursor:hand;}
