.group_container {
	font-size: 12px;
	font-weight: bold;
/* 	background-color:#b5d6e6; */
	vertical-align: bottom;
}

.group_label {
	text-align: right;
}

.group_item {
	height: 24px;
	cursor: hand;
	text-align: center;
	padding: 0px 12px 0px 12px;
}

.group_item_selected {
	color : white;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../image/head/nav_hover.gif',
		sizingMethod='scale' );
}
.group_item_unselected {
	color : black;
}